:root{
    --color-body:#fff;
    --color-base2:#7d7c7c;
    --color-base:#9d9b9b;
    --color-heading:#fff;
    --color-brand2:#eef3db;
    --color-brand:mintcream;
    --sidebar-width:250px;
    --font-base:"Bai Jamjuree";
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: var(--font-base), sans-serif;
    background-color: var(--color-base2);
    color:var(--color-body);
}

h1,h2,h3,h4,h5,h6{
    color:var(--color-heading);
    font-weight:700;
}

a{
    text-decoration:none;
    color:var(--color-body);
    transition: all 0.4s ease;
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}
a:hover{
    color:var(--color-brand);
}

img{
    width:100%;
}
header{
    width:100%;
}
.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);

}
.full-height{
    min-height:100vh;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-top:80px;
    padding-bottom:80px;
    border-bottom:2px solid rgba(255,255,255,0.1);
}

/* Navbar */

.navbar{
    background-color: var(--color-base);
}
.navbar .nav-link{
    font-weight:700;
    text-transform: uppercase;
    color:#fff;
}

.navbar .nav-link.active{
    color:var(--color-brand);
}

.navbar .nav-link:hover{
    color:var(--color-brand);
}

@media (min-width: 992px) {
    .navbar{
        min-height:100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgba(75,79,85,0.9),rgba(75,79,85,1)),url('../img/4.jpg');
        background-size:cover;
        background-position:center;
    }
    .navbar-brand img{
        border: 8px solid var(--color-brand);;
    }
    #content-wrapper{
        padding-left:var(--sidebar-width);
    }
}

.btn{
    padding:12px 28px;
    font-weight:700;
}

.btn-secondary{
    background-color:var(--color-brand);
    border-color:var(--color-brand2);
    color:#7e7d7d;
}

.btn-secondary:hover,
.btn-secondary:focus{
    background-color:var(--color-brand2)
    color:var(--color-base);
    border-color:var(--color-brand2);
}

.link-custom{
    font-weight:700;
    position:relative;
}

.link-custom::after{
    content:"";
    width:0%;
    height:2px;
    background-color:var(--color-brand);
    position:absolute;
    left:0;
    top:110%;
    transition:all 0.4s
}

.link-custom:hover::after{
    width:100%;
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}


/* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}

/* SOCIAL ICONS */
.social-icons {

}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}